@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", "system-ui", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue",
    "sans-serif";
}
html {
  scroll-behavior: smooth;
}
@layer base {
  * {
    font-family: var(--font-poppins);
  }
}
@layer components {
  .section {
    @apply min-h-[70vh] container mx-auto px-4  pt-[70px];
  }

  .nav-link,
  .nav-link-mobile {
    @apply capitalize text-neutral-500 dark:text-neutral-400 leading-tight;
  }
  .nav-link {
    @apply mx-2 border-b-2 border-b-transparent;
  }
  .nav-link-mobile.active,
  .nav-link.active {
    @apply text-amber-50 dark:text-neutral-800;
  }

  .icon {
    @apply text-xl bg-neutral-800 text-neutral-50 dark:bg-neutral-50 dark:text-neutral-800 p-2 rounded-md cursor-pointer hover:scale-105;
  }
  .profil {
    background: url("assets/portrait.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animate_profil 5s infinite alternate ease-in-out;
  }
  .contact-icon {
    @apply text-xl  text-neutral-800 dark:text-neutral-50 py-2 px-1 rounded-md cursor-pointer transition duration-300;
  }
  .contact-icon:hover {
    @apply scale-105;
  }
  .action-button {
    @apply text-center px-6 py-3 font-semibold rounded-lg min-w-60 border-2 md:w-fit hover:scale-105 transition duration-300;
  }
}

@keyframes animate_profil {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
